css
/* Reset some default styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: 'Gotham';
    background-color: #040D12;
}

header {
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.game {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 50%;
    width: 50%;
}

.game img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    
}

.game img:hover{
    box-shadow: 5px 5px 2px 3px #000000;
}

.game h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.game p {
    color: #666;
    margin-bottom: 10px;
}

.game a {
    display: inline-block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}


/* Colors */
header {
    background-color: #183D3D;
    text-shadow: 3px 3px 6px #000000;
}

nav ul li a {
    color: #fff;
}

section {
    background-color: #f9f9f9;
}

.game {
    background-color: #000000;
    border: 2px solid #ccc;
}



.hr{
    border-style: solid;
    border-radius: 5px;
    border-width:1.5px ;
    border-color: #ffffff;
    display: inline-block;
    text-shadow: 0px 0px 6px #000000;
}
.hr:hover{
    background-color:#5C8374 ;
    display: inline-block;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 2px 2px #000000;
    text-shadow: 3px 3px 6px #000000;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.game:hover {
    background-color: #183D3D;
    transition: background-color 0.3s ease;
    box-shadow: 5px 5px 2px 3px #93B1A6;
    text-shadow: 3px 3px 6px #000000;
    
}

/* Responsive */
@media only screen and (max-width: 600px) {
    header {
        padding: 10px;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    main {
        padding: 10px;
    }

    .game img {
        margin-bottom: 5px;
    }

    footer {
        padding: 5px;
    }
}

